.button-arrow{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;

  &.empty{
    border-radius: 28px;
    background: rgba(0, 0, 0, 0.04);
    border: none;
  }
  &.white{
    border: none;
  }
}
.wrapper-button{
  display: flex;
  align-items: center;
  gap: 8px;
}
.button{
  border-radius: 20px;
  background: #FF7648;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 133.333% */
  letter-spacing: -0.23px;
  color: #fff;
  border: none;
}