.master-info{
  background: #fff;
}
.header{
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 8px;
  .short-info{
    display: flex;
    flex-direction: column;

    .name{
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 28px; /* 140% */
      letter-spacing: -0.26px;
      color: #261A59
    }
    .post{
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: 16px;
      color: #8E8EAD
    }
  }
}
.body{
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 24px 24px 0 0;
  background: #EEF1FA;
  padding: 12px 8px;
}
.avatar{
  position: relative;
  .badge{
    position: absolute;
    top: 0;
    right: 0;
    background: #FF7648;
  }
}
.list-services{
  display: flex;
  flex-direction: column;
  gap: 10px;
  h2{
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px; /* 131.25% */
    letter-spacing: -0.23px;
    color: #000000;
    text-align: center;
  }
}
.list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 12px;
  padding-bottom: 30px;
  transition: .2s ease-out;

  &.active{
    margin-bottom: 150px;
  }
}
.not-found{
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
.button{
  width: 100%;
}