.calendar{
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 18px;
}
.buttons{
  display: flex;
  justify-content: flex-end;
  gap: 8px;

  .prev{
    transform: rotate(180deg);
  }
}
.content{
  display: flex;
  flex-direction: column;
}

.days-week{
  display: flex;
  justify-content: space-between;
  align-items: center;

  .item{
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: #94A3B8;
  }
}
.days{
  display: flex;
  justify-content: space-between;
  align-items: center;

  .day{
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 122.222% */
    letter-spacing: -0.36px;
    color: #1E293B;
    &.active{
      position: relative;
    }
    &.active:before{
      content: "";
      position: absolute;
      bottom: -20%;
      left: 50%;
      transform: translateX(-50%);
      width: 6px;
      height: 6px;
      background: #FF7648;
      border-radius: 50%;
    }
  }
}

