@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Regular.ttf') format('truetype'); ;
    font-weight: 1;
    font-style: normal;
}

html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Poppins", sans-serif;
    background: #F4F3EC;

}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    //@include font-SegoeUI();
}


.container {
    margin: 0 auto;
    padding: 12px 8px;
}

