.address-company{
  display: flex;
  gap: 8px;
  background: #fff;
  padding: 20px 16px 12px 16px;
  border-radius: 12px;
}

.info{
  display: flex;
  flex-direction: column;

  .map{
    display: flex;
    gap: 8px;
    align-items: center;

    .city{
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 28px;
      letter-spacing: 0.07px;
      color: #261A59E5;
    }
  }

  .address{
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
    letter-spacing: -0.23px;
    color:#aaa;
  }
}

.avatar-company{
  width: 48px;
  height: 48px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background: rgba(38, 26, 89, 0.90);
  .avatar{
    object-fit: cover;
  }
}
