.wrapper{
  margin-bottom: 80px;
}
.timeline{
  @include flex-column();
  gap: 8px;
  margin-bottom: 80px;
  align-items: center;
  border-right: 1px solid #d9e3eb;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;


  .time{
    @include flex-column();
    font-size: 13px;
    //min-height:106px;
    //height: 100%;
    text-align: left;
    width: 100%;

    .item{
      @include flex-column();
      height:100%;
      text-align: left;
      width: 100%;
      flex: 1 1;
      @include text-Subtitle3();
      font-weight: 400;
    }
  }
}

.area,.header{
  display: flex;
  gap: 12px;

  &.area{
    margin-top: 12px;
  }

  .cartulary{
    flex: 0 1 20%;
  }
  .shedule{
    flex: 0 1 80%;
    @include flex-column();
    gap: 12px;
  }
  .title{
    @include text-Body2();
    color: $color-shading-60;
    text-transform: uppercase;
  }
}

.cell{
  display: flex;
  flex-direction: column;
  min-height:106px;
  height: 100%;
  width: 100%;

  span{
    cursor: pointer;
    flex: 1 1;
    height: 100%;
    color: $color-shading-60;
  }
}