.wrapper{
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 30px;
  background: #fff;
  padding: 20px 16px 12px 16px;
  border-radius: 12px;
  .title{
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
    letter-spacing: -0.23px;
    color: #707579;
  }

  .description{
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 129.412% */
    letter-spacing: -0.4px;
    color: #000000;
    overflow: auto;
    overflow-wrap: anywhere;
  }
}