.links{
  display: grid;
  gap: 8px;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));

}

.link{
  border-radius: 10px;
  padding: 8px;
  background: #fff;
  width: 100%;
  color:#3D5266;
  text-decoration: none;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 123.077% */
  letter-spacing: -0.08px;
  cursor: pointer;

  .link-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
  }
  .icon{

    fill: #FF7648;
    color: #FF7648;
  }
}