.links{
  display: flex;
  gap: 15px;
  justify-content: space-between;
  width: 100%;
}

.link{
  border-radius: 10px;
  padding: 8px 30px;
  background: #fff;
  width: 100%;
  color:#000;
  text-decoration: none;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 123.077% */
  letter-spacing: -0.08px;

  .link-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
  }
}