.wrapper{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.title{
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px; /* 131.25% */
  letter-spacing: -0.23px;
  color: #3D5266;
}

.cards{
  display: flex;
  flex-direction: column;
  gap: 12px;

}

.card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  background: #FFFFFF;
  border-radius: 12px;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
  letter-spacing: -0.23px;
  color: #3D5266;
}

.phone{
  display: flex;
  align-items: center;
}
.list{
  background: #fff;
  padding: 8px;
  border-radius: 12px;
}