
.modal-booking-service{
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  .description-order{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .count-service{
      display: flex;
      align-items: center;
      gap: 8px;
      span{
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.23px;
        color: #000000;
      }
    }
    .time-price{
      display: flex;
      align-items: center;
      gap: 8px;
      span{
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.23px;
        color: #000000;
      }
    }
  }
}